* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    position: relative;
}

.container {
    max-width: 1404px;
    margin: auto;
}

.section-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 70px;
    color: #415167;

    h3 {
        font-weight: 600;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.li-active {
    font-weight: bold;
}

ul {
    list-style: none;
}

section {
    padding: 80px 0;
}

button {
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #C7A17A;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button {
    &-details, &-continue {
        background: none;
        color: #415167;
    }
}

.product,
.tab,
.item,
.modal {
    &-price {
        font-size: 20px;
        font-weight: 600;
        color: #C7A17A;
    }

    &-name {
        font-size: 24px;
        font-weight: bold;
        color: #232C38;
        margin-bottom: 20px;
    }

    &-info {
        margin-bottom: 20px;
    }

    &-buttons {
        display: flex;
        justify-content: left;
        align-items: center;
    }
}

body {
    background-color: #F9FBFF;
    color: #151D28;
    font-family: 'Nunito', sans-serif;

    .header {
        background: url(../img/header/background.png) no-repeat center right 35%;
        color: #EDF0F5;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        min-height: 800px;

        &-left {
            margin-left: 200px;
        }

        &-right {
            background-color: #415167;
            padding: 70px 50px;
        }

        &-logo {
            margin: 70px 0 200px 0;
        }

        &-text {
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            color: #415167;
            max-width: 300px;
            line-height: 1.4;

            span {
                padding: 15px;
                background-color: #C7A17A;
                color: #F9FBFF;
            }
        }

        &-cart {
            display: block;
            margin-bottom: 120px;
            cursor: pointer;
            position: relative;

            &__quantity {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #C7A17A;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: 10px;
                display: none;

                p {
                    color: #F9FBFF;
                }
            }
        }

        &-nav {
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            min-width: 320px;

            ul {
                li {
                    margin-bottom: 30px;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }

    .main {
        .benefits {
            &-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .benefit {
                text-align: center;
                max-width: 220px;

                &-image {
                    margin-bottom: 40px;
                }

                &-title {
                    font-weight: bold;
                    font-size: 28px;
                    margin-bottom: 10px;
                }
            }
        }

        .products {
            background: url(../img/main/products/background.png) no-repeat left top;

            .products-list {
                max-height: 600px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .product {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px;
                    max-width: 580px;
                    max-height: 250px;
                    background: #fff;
                    filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
                    cursor: pointer;

                    &-image {
                        max-height: 250px;
                    }

                    &-right {
                        padding: 40px;
                    }
                }
            }
        }

        .giftset {
            &-list {
                display: flex;
                justify-content: center;
                align-items: center;

                &__tabs {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .tab {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 860px;
                        max-height: 450px;
                        padding: 60px;
                        background: #fff;
                        box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
                        position: relative;
                        display: none;

                        &:first-child {
                            display: flex;
                        }

                        &-image {
                            margin-left: -200px;
                        }
        
                        &-origin {
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            &__wrap {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 50px;
                            }
        
                            &__image {
                                margin-right: 10px;
                            }
        
                            &__text {
                                margin-right: 60px;
                                p {
                                    font-size: 16px;
                                    &:nth-child(2) {
                                        font-weight: 600;
                                    }
                                }
                            }

                            
                        }
        
                        &-buttons {
                            justify-content: space-between;
                            div {
                                margin-right: 60px;
                                // button {
                                //     padding: 15px 40px; on the future
                                // }
                            }
                        }
                    }
                }
    
                &__toggler {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .toggle {
                        width: 100px;
                        height: 150px;
                        background: #EDF0F5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        p {
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 900;
                            font-size: 30px;
                            color: #415167;
                            opacity: 0.3;
                        }

                        &-active {
                            background: #fff;
                            box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
                            p {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            

            
        }

        .combo {
            &-list {
                display: flex;
                justify-content: center;
                align-items: center;
                .item {
                    max-width: 360px;
                    margin: 30px;
                    background-color: #fff;
                    filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
                    &-text {
                        padding: 40px;
                    }

                    &-price {
                        display: flex;
                        align-items: center;

                        .new-price {
                            margin-right: 20px;
                        }

                        .old-price {
                            font-size: 14px;
                            font-weight: 300;
                            font-style: italic;
                            text-decoration: line-through;
                            color: #415167;
                        }
                    }
                }
            }
        }
    }

    .footer {
        padding: 20px 0;
        background-color: #EDF0F5;
        text-align: center;
        .copyright {
            font-weight: 300;
            font-style: italic;
            color: #415167;
        }
    }

    .buy-modal, .cart-modal {
        background: #fff;
        padding: 40px 60px;
        border-radius: 6px;
        text-align: center;
        &__wrap {
            width: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($color: #000000, $alpha: 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;          
        }

        p {
            margin-bottom: 20px;
        }
    }

    .cart-modal {
        position: relative;

        &__properties {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    border: 3px solid green;
                }
                .li {
                    &-name {
                        min-width: 600px;
                    }
                    &-quantity {
                        min-width: 100px;
                    }
                    &-price {
                        min-width: 200px;
                    }
                }
            }
        }

        &__list {
            .cart-item {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                
                &__name {
                    min-width: 600px;
                }
                &__quantity {
                    min-width: 100px;
                    min-height: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    &-minus, &-add {
                        color: #fff;
                        cursor: pointer;
                    }

                    &-text {
                        margin: 0 5px;
                        min-width: 16px;
                        text-align: top;
                    }
                }

                &__price {
                    min-width: 200px;
                }

            }
        }

        &__close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }
}